body {
  font-family: sans-serif;
}

.text-default {
  color: black;
}

.text-red {
  color: red;
}

.text-yellow {
  color: yellow;
}

.text-blue {
  color: blue;
}

/* https://css-tricks.com/ */
.container-flex {
  display: flex;
  justify-content: space-between;
}

.container-grid {
  display: grid;
  gap: 10px;
}

.container-grid .item {
  background-color: lightblue;
  padding: 20px; /*Jarak didalam kotak lightblue*/
  margin: 5px; /*Jarak diluar kotak lightblue*/
  /* antara padding dan margin artinya kita menerapkan jarak atas kiri bawah kanan*/
}

.container-flex .item {
  background-color: bisque;
  padding: 20px;
  margin: 5px;
}